* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  body {
    background-color: white;
  }

  .layout__left-sidebar{
    background: white;
    height: 40rem;
    width: 20%;
    padding: 3.1rem;
    padding-top: 1rem;
  }

  .layout{
    display: flex;
    justify-content: space-between;
  }

/*   .profile h4{
  

  } */

  .profile img{
    border-radius: 50%;
    width: 2.5rem;
  }

  .button-tweet{
    border-radius: 30%;
    height: 3rem;
    width: 10rem;
    background: rgb(29, 155, 240);
    color: white; 
    font-size: 1rem;
  }

  .icons-group p{
    padding: 7px;
    font-size: 1.5rem;
  }

  .item p{
    display: flex;
    justify-content: space-between;
  }

  .item p:hover{
    background: #d3cbcb;
    border-radius: 10%;
  }
