html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}

/* Layout Principal - container principal de tod estrutura */
.layout {
  display: grid;
  grid-template-columns: 275px auto 350px;
  margin: 0 auto;
  max-width: 1200px;
}

/* SIDEBAR LADO ESQUERDDO */

/* icone do twitter */
.brand {
  height: 28px;
  filter: invert(46%) sepia(99%) saturate(1449%) hue-rotate(176deg) brightness(100%) contrast(91%);
  padding: 10px;
}


/* Barra lateral direita  */
.layout__right-sidebar {
  position: fixed;
  width: 350px;
}


/* Sidebar do menu da barra esquerda latera */
.sidebar-menu {
  position: fixed;
}


/* Botão azul de twitte  */
.button-tweet{
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  background:rgb(29, 155, 240);
  color: white;
  width: 15rem;
  border: none;
  border-radius: 40px;
  margin: 20px auto 20px auto;
}


/* Imagem de perfil da barra lateral esquerda */
.profile img{
  border-radius: 50%;
  width: 2.5rem;
}

/* Estilo de todos os ícones do sidebar esquerdo */

.sidebar-menu__item {
  font-size: 19px;
  color: #0F141A;
  display: flex;
  align-items: center;
  font-weight: 700;
  padding: 10px;
}

/* Hover dos icones do sidebar esquerdo */
.sidebar-menu__item:hover {
  background: rgba(97, 103, 107, 0.1);
 /*  color: #1da0f2; */
  border-radius: 20px;
  cursor: pointer;
}


/* Active para manter azul item principal */
/* .sidebar-menu__item--active {
  color: #1da0f2;
} */

.sidebar-menu__item-icon {
  height: 26px;
  margin-right: 20px;
}

/* deixava o icone da home azul */
/* .sidebar-menu__item--active .sidebar-menu__item-icon {
  filter: invert(67%) sepia(60%) saturate(4956%) hue-rotate(176deg) brightness(95%) contrast(99%);
} */

/* ---------------------------------------------------------- */

/* LADO DIREITO DO SIDEBAR */

/* tendências para você -  background do lado direito*/
.trends-for-you {
  border-radius: 15px;
  background: #f5f8fa;
  margin-bottom: 15px;
}

/* padding do bloco */
.trends-for-you__block {
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 15px;
}

/* Show More */
.trends-for-you__block span {
  color: rgb(29, 155, 240);
}


/* A quem seguir -  Show More dos serguidores que podemos seguir */
.who-to-follow span {
  color: rgb(29, 155, 240);
}

.trends-for-you__block:last-child {
  border-bottom: none; /* linha de contorno */
}

/* Nome principal do bloco*/
.trends-for-you__heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}


/* Informações da quantidade de seguidores 18.8k Tweets */
.trends-for-you__meta-information {
  font-size: 13px;
  font-weight: 300;
  color: #657786;
}


/* Nome do titulo principal da tendencia - Renato Augusto*/
.trends-for-you__trend-name {
  font-size: 15px;
  color: #14171a;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 2px;
}


/* TWEET da parte da MAIN */

.tweet {
  display: flex;
  border-bottom: 1px solid #e6ecf0;
  margin-bottom: 2px;
  padding: 10px 15px;
  
}

/* toda a main do TWEET */
.tweet__main{
  width: 100%;

}

.tweet:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

.tweet a {
  color: #1b94e0;
  text-decoration: none;
}

.tweet a:hover {
  text-decoration: underline;
}

.tweet__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
}

.tweet__header {
  display: flex;
}


/* Nome HOME */
.tweet__author-name {
  font-size: 25px;
  font-weight: 700;
  color: #14171a;
  margin-right: 5px;
  padding-bottom: 10px;
}

.tweet__content_text span{
  color: #1b94e0;
}


/* For you e Following */
.follow{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #e6ecf0;
}

.follow:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}


/*  What's happening? */
.tweet__author-slug {
  color: #5b7083;
  font-size: 15px;
  font-size: 18px;
}

/* Conteúdo dos ícones do MENU PRINCIPAL*/
.tweet__content{
  /* color: #1b94e0; */
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  
}

.tweet__content img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(46%) sepia(99%) saturate(1449%) hue-rotate(176deg) brightness(100%) contrast(91%);
}

.button-tweet-content {
  margin-left: auto;
  display: flex;
}

.button-tweet-content button{
  width: 70px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  background:rgb(29, 155, 240);
  color: white;
  border: none;
  border-radius: 40px;
}

.tweet__image {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}



.who-to-follow {
  background: #f5f8fa;
  border-radius: 15px;
}


.who-to-follow__block {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6ecf0;
}

.who-to-follow__block:last-child {
  border-bottom: none;
}

.who-to-follow__author-logo {
  width: 49px;
  height: 49px;
  border-radius: 50px;
  margin-right: 10px;
}

.who-to-follow__author-slug {
  color: #657786;
  font-size: 15px;
}

.who-to-follow__author-name {
  font-size: 15px;
  font-weight: 700;
}

.who-to-follow__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.who-to-follow__heading {
  font-size: 19px;
  font-weight: bold;
  color: #14171a;
}

.who-to-follow__button {
  border: 1px solid black;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 15px;
  padding: 5px;
  min-width: 67px;
  text-align: center;
}

.who-to-follow__button:hover {
  background: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}

.search_box{
  background-color: rgb(239, 241, 243);
  height: 38px;
  border-radius: 40px;
  padding: auto;
  color: rgba(0,0,0,1.00);
}

.search_btn{
  color: rgb(83, 100, 113);  float: left;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 40px;
  width: 240px;
}